
<div class="container-fluid ">
  
     <h1 class="survey-name">{{ model.nameOfSurvey }}</h1>
         
 
<div class="body-text-message"> 
  <p class="lead">survey body text : {{model.bodyTextSurvey}}</p>
</div>

<div class="created-date">
<h5>created date: {{model.createdTime}}</h5>
<app-modal-question></app-modal-question>
</div>

    
   <li *ngFor="let item of questionList" > 
          <div class="jumbotron">
                    
                    <ol>
                              <li *ngFor="let subItem of item.questions"> 
                                   <p> {{subItem.questionTitlte}}</p>
                                        <p class="lead"> {{subItem.questionMessage}}</p>
                               
                                        <hr class="my-4">
                                  
                               
                              </li>
               </ol>
          </div>
          <div>

      </div> 
         
         
     </li>
  
   
  
</div>
